* {
  margin: 0px;
  text-transform: capitalize;
}

:root {
  --background-color: #E1ECFF ;
  --primary-color: #00B1FF ;
  --secondary-color: #1A6EFF ;
  --icon-color: #FBB03B ;
  --light-color: #fff ;
  --dark-color: #000 ;
  --semi-dark: #808080 ;
  --light-filter: invert(0%) sepia(16%) saturate(0%) hue-rotate(311deg) brightness(108%) contrast(102%);
  --dark-filter: invert(100%) sepia(3%) saturate(7494%) hue-rotate(301deg) brightness(107%) contrast(97%);
  --background-filter: invert(87%) sepia(81%) saturate(6242%) hue-rotate(178deg) brightness(103%) contrast(108%);
  --primary-filter: invert(50%) sepia(66%) saturate(2870%) hue-rotate(170deg) brightness(104%) contrast(106%);
  --secondary-filter: invert(36%) sepia(81%) saturate(4141%) hue-rotate(211deg) brightness(101%) contrast(106%);
  --icon-filter: invert(92%) sepia(14%) saturate(5663%) hue-rotate(326deg) brightness(98%) contrast(100%);
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none !important;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.flex-data {
  display: flex;
  align-items: center;
  align-content: center;
}

.bold {
  font-weight: 500;
  color: var(--dark-color);
}



nav {
  position: relative;

  &::after {
    content: "";
    background-color: rgba(187, 187, 187,.3);
    border: .1px solid rgba(187, 187, 187,.3);
    width: 100%;
    margin-left: -16px;
    margin-top: 100px ;
    position: absolute;
    z-index: 9;
  }

  .icons {
    .cart {
      filter: none !important;
    }
  }

  .container {
    img {
      filter: var(--dark-filter) !important;
    }

    a {
      color: var(--dark-color) !important;
    }
  }

}


.payment {
  .row {
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 100px;

    .box {
      width: calc((100% / 3) - 20px);

      h1 {
        font-size: 25px;
      }

      .btn-row {
        gap: 20px;
        margin-bottom: 30px;
        margin-top: 50px;

        button {
          width: 100px;
          height: 30px;
          background-color: transparent;
          border: 1px solid rgba(187, 187, 187,.3);
          border-radius: 15px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;

          &:hover {
            background-color: var(--icon-color);
            border-color: var(--icon-color);
            transform: scale(1.2);
          }
        }
      }
      
      .input-row {
        flex-wrap: wrap;
        gap: 20px;
      }

      input , select {
        width: calc((100% / 2) - 20px);
        height: 40px;
        border-color: rgba(187, 187, 187,.3);
        border-radius: 10px;
      }

      .payment-row {
        gap: 5px;
        flex-wrap: wrap;
        margin-bottom: 40px;

        button {
          width: calc((100% / 3) - 5px);
          background-color: transparent;
          border: 1px solid rgba(187, 187, 187,.3);
          border-radius: 20px;

          img {
            height: 40px;
            width: 40px;
          }
        }
      }

      .delivery-row {
        gap: 5px;
        flex-wrap: wrap;

        button {
          width: calc((100% / 2) - 5px);
          background-color: transparent;
          border: 1px solid rgba(187, 187, 187,.3);
          border-radius: 20px;

          img {
            height: 40px;
            width: 50px;
            margin-right: 20px;
          }
        }
      }

      .icon-row {
        justify-content: end;
        margin-bottom: 50px;
        gap: 50px;

        .img-contain {
          background-color: transparent;
          border: 1px solid var(--icon-color);
          border-radius: 50%;
          width: 30px;
          height: 30px;
          text-align: center;

          img {
            width: 15px;
            height: 15px;
          }

          &:hover {
            background-color: var(--icon-color);
            cursor: pointer;
          }

          &:hover img {
            filter: var(--dark-filter);
          }

        }
      }

      .product-row {
        gap: 10px;
        margin-bottom: 10px;

        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }

        .description {
          line-height: .5;
          margin-top: 10px;
          width: 70%;
          color: var(--semi-dark);
        }
      }
      
      .cost {
        padding-top: 10px;
        margin: 20px auto 40px;
        justify-content: center;
        gap: 30px;
        background-color: rgba(187, 187, 187,.3);
        width: 70%;
        border-radius: 20px;
      }

      .last-row {
        margin: 0px auto;
        justify-content: center;
        gap: 20px;

        img {
          width: 30px;
          height: 30px;
        }

        p {
          width: 50%;
          margin-top: 15px;  
        }
      }
    }
  }

  .footer {
    justify-content: space-between;

    .back {
      gap: 20px;

      p {
        margin-top: 10px;
      }
      
    }

    img {
      filter: var(--dark-filter);
      transform: rotateY(180deg);
      width: 20px;
      height: 20px;
    }

    .btn-contain {
      gap: 20px;

      button {
        width: 200px;
        height: 40px;
        background-color: transparent;
        border: 1px solid rgba(187, 187, 187,.3);
        border-radius: 15px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;  

        &:hover {
          background-color: var(--icon-color);
          border-color: var(--icon-color);
          transform: scale(1.1);
        }
      }
    }
    
  }
}
